.notification {
    text-align: center;
    background-color: red;
    height: 5vw;
    line-height: 5vw;
    margin: auto;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
}

.custombox{
    padding: 20px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.customLink{
    background-color: blue;
    color: white;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    border-radius: 25px;
    padding: 2px;
    width: 100px;
    height:30px;
}
.customLink:hover{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
    padding: 2px 16px;
}

@media screen and (max-width: 1680px) {
    .mediaSize {
        height: 200px;
    }
    .cardPhoto {
        height: 250px
    }
    .custombox{
        width: 400px;
    }
}

@media screen and (max-width: 1280px) {
    .cardPhoto {
        height: 250px
    }
    .mediaSize {
        height: 200px;
    }
    .custombox{
        width: 400px;
    }
}

@media screen and (max-width: 980px) {
    .cardPhoto {
        height: 250px
    }
    .mediaSize {
        height: 200px;
    }
    .custombox{
        width: 400px;
    }
}

@media screen and (max-width: 736px) {
    .cardPhoto {
        height: 200px
    }
    .mediaSize {
        height: 200px;
    }
    .custombox{
        width: 300px;
    }
}